In [1]:
import pandas as pd

In [9]:
df=pd.read_csv('data/5c5x-3qz9.tsv',sep='\t',header=0)

In [11]:
df.head()

,year,borough,num_level_1,num_level_3,demographic,number_tested,num_level_2,pct_level_3_and_4,mean_scale_score,num_level_4,pct_level_4,pct_level_3,pct_level_2,grade,pct_level_1,num_level_3_and_4
0,2006,BRONX,876,1639,ELL,3754,1037,49.0,645,202,5.4,43.7,27.6,3,23.3,1841
1,2006,BRONX,1186,6979,EP,12691,2220,73.2,669,2306,18.2,55.0,17.5,3,9.3,9285
2,2007,BRONX,489,1953,ELL,3726,908,62.5,659,376,10.1,52.4,24.4,3,13.1,2329
3,2007,BRONX,756,7043,EP,12463,1732,80.0,678,2932,23.5,56.5,13.9,3,6.1,9975
4,2008,BRONX,205,2242,ELL,3311,620,75.1,666,244,7.4,67.7,18.7,3,6.2,2486

In [11]:
def enlarge(df,colname):
    namelist=list(set(df[colname]))
    if len(namelist)==2:
        key1=namelist[0]
        string='bin'+colname
        df[string]=0
        for i in range(len(df)):
            if df[colname][i]==key1:
                df[string][i]=1
        df.drop(colname, axis=1, inplace=True)
    else:
        for name in namelist:
            string=colname+name
            df[string]=0
        for i in range(len(df)):
            key1=df[colname][i]
            keystring=colname+key1
            df[keystring][i]=1
        df.drop(colname, axis=1, inplace=True)

In [12]:
def creatlist(df):
    for colname in df.columns:
        if len(list(set(df[colname]))) == 1:
            continue
        types=(list(set(df[colname]))[0])
        if types=='none':
            types=(list(set(df[colname]))[1])
        if isinstance(types, str):
            enlarge(df,colname)

In [24]:
creatlist(df)

F:\anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
F:\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [25]:
df.head()

,year,num_level_1,num_level_3,number_tested,num_level_2,pct_level_3_and_4,mean_scale_score,num_level_4,pct_level_4,pct_level_3,...,boroughMANHATTAN,boroughSTATEN ISLAND,bindemographic,grade7,grade3,grade5,gradeAll Grades,grade8,grade4,grade6
0,2006,876,1639,3754,1037,49.0,645,202,5.4,43.7,...,0,0,1,0,1,0,0,0,0,0
1,2006,1186,6979,12691,2220,73.2,669,2306,18.2,55.0,...,0,0,0,0,1,0,0,0,0,0
2,2007,489,1953,3726,908,62.5,659,376,10.1,52.4,...,0,0,1,0,1,0,0,0,0,0
3,2007,756,7043,12463,1732,80.0,678,2932,23.5,56.5,...,0,0,0,0,1,0,0,0,0,0
4,2008,205,2242,3311,620,75.1,666,244,7.4,67.7,...,0,0,1,0,1,0,0,0,0,0

In [28]:
pd.options.display.max_columns = None
display(df.head())

,year,num_level_1,num_level_3,number_tested,num_level_2,pct_level_3_and_4,mean_scale_score,num_level_4,pct_level_4,pct_level_3,pct_level_2,pct_level_1,num_level_3_and_4,boroughBRONX,boroughBROOKLYN,boroughQUEENS,boroughMANHATTAN,boroughSTATEN ISLAND,bindemographic,grade7,grade3,grade5,gradeAll Grades,grade8,grade4,grade6
0,2006,876,1639,3754,1037,49.0,645,202,5.4,43.7,27.6,23.3,1841,1,0,0,0,0,1,0,1,0,0,0,0,0
1,2006,1186,6979,12691,2220,73.2,669,2306,18.2,55.0,17.5,9.3,9285,1,0,0,0,0,0,0,1,0,0,0,0,0
2,2007,489,1953,3726,908,62.5,659,376,10.1,52.4,24.4,13.1,2329,1,0,0,0,0,1,0,1,0,0,0,0,0
3,2007,756,7043,12463,1732,80.0,678,2932,23.5,56.5,13.9,6.1,9975,1,0,0,0,0,0,0,1,0,0,0,0,0
4,2008,205,2242,3311,620,75.1,666,244,7.4,67.7,18.7,6.2,2486,1,0,0,0,0,1,0,1,0,0,0,0,0

In [3]:
import numpy
def DIST(point1,point2):
    return linalg.norm(point1-pointb)

In [7]:
def knearest(data,k):
    data['knearest']=0

    for i,x in enumerate(data): 
        klist=[0]*(len(data))
        
        for j,y in enumerate(data):
            distance=DIST(x,y)
            klist[j]=distance
        sort_dist=sorted(klist)
        if len(data)>k:
            data['knearest'][i]=sort_dist[k]
        else:
            data['knearest'][i]=sort_dist[-1]