In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('testdata.csv')

C:\ProgramData\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (40,49,52,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Unnamed: 0,canclass,occupation,boroughcd,empstrname,c_code,candlast,rr_ind,intempstnm,purposecd,...,location_1.human_address.city,location_1.human_address.state,location_1.human_address.zip,location_1.longitude,strno,adjtypecd,refunddate,intstrno,location_3.human_address.city,location_3.human_address.state
0,1,P,NaN,K,NaN,IND,Atwood King,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,P,NaN,NaN,NaN,UNKN,Montano,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,P,NaN,X,NaN,UNKN,Colon,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,P,NaN,NaN,NaN,UNKN,Colon,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,P,NaN,NaN,NaN,UNKN,Martinez,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns[1]

'canclass'

In [5]:
key=list(set(df['canclass']))
for i in key:
    print i

NP
P

In [6]:
df['bincanclass']=0

In [7]:
df['canclass'][1]

'P'

In [8]:
tmpdf=df.fillna('none')

In [9]:
tmpdf.head()

,Unnamed: 0,canclass,occupation,boroughcd,empstrname,c_code,candlast,rr_ind,intempstnm,purposecd,...,location_1.human_address.state,location_1.human_address.zip,location_1.longitude,strno,adjtypecd,refunddate,intstrno,location_3.human_address.city,location_3.human_address.state,bincanclass
0,1,P,none,K,none,IND,Atwood King,N,none,none,...,none,none,none,none,none,none,none,none,none,0
1,2,P,none,none,none,UNKN,Montano,N,none,none,...,none,none,none,none,none,none,none,none,none,0
2,3,P,none,X,none,UNKN,Colon,N,none,none,...,none,none,none,none,none,none,none,none,none,0
3,4,P,none,none,none,UNKN,Colon,N,none,none,...,none,none,none,none,none,none,none,none,none,0
4,5,P,none,none,none,UNKN,Martinez,N,none,none,...,none,none,none,none,none,none,none,none,none,0

In [10]:
tmp1=list(set(tmpdf['location_1.longitude']))

In [11]:
df.columns[13]

'int_c_code'

In [18]:
y=list(set(tmpdf[df.columns[13]]))
y

['PCOMP',
 'none',
 'PCOMC',
 'EMPO',
 'PCOM',
 'UNKN',
 'N',
 'JAMES,IND,,,,Q,QUEENS,NY,11377,,,,,,,50.00,50.00,0,1,,,,,,,,,,,,,,,,,,N,N, 2001,1,B1,P,Vallone,Peter,F,H,4,ABC,,,R0004829,11/30/1999 00:00:00,,MALLIOS',
 'PART',
 'CORP',
 'FAM',
 'IND',
 'OTHR']

In [ ]:
for i in tmpdf.columns:
    tmp=list(set(df[i]))
    print isinstance(tmp[0],str)
    print type(tmp[0])

False
<type 'numpy.int64'>
True
<type 'str'>
False
<type 'float'>
False
<type 'float'>
False
<type 'float'>
False
<type 'float'>
True
<type 'str'>
False
<type 'float'>
False
<type 'float'>
False

In [19]:
def enlarge(df,colname):
    namelist=list(set(df[colname]))
    if len(namelist)==2:
        key1=namelist[0]
        string='bin'+colname
        df[string]=0
        for i in range(len(df)):
            if df[colname][i]==key1:
                df[string][i]==1
    else:
        for name in namelist:
            string=colname+name
            df[string]=0
        for i in range(len(df)):
            key1=df[colname][i]
            keystring=colname+key1
            df[keystring]=1

In [20]:
def creatlist(df):
    for colname in df.columns:
        types=(list(set(df[colname]))[0])
        if types=='none':
            types=(list(set(df[colname]))[1])
        if isinstance(types, str):
            enlarge(df,colname)

In [ ]:
creatlist(df)